body {
  background:url(images.jpg);
 background-size:100% 100%;
  width:auto;
  color: white;
  font-family: 'Roboto';
}
.contain{
    position: relative;
    width: 100%;
}
header,nav
{
display:block;
}
#pst{
overflow:auto;
}
.bar{
    padding: 14px 0px;
    float: right;
	 background: #ed7271;
}
.clr {
    clear: both;
    float: none;}
#k1{
    padding: 0px 20px;
    position: relative;
    max-width: 1210px;
    margin: 0px auto;
}
.hd{
position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 0px;
}
p{
  color:brown;
}.rock{font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;background-color: royalblue;
    height: 40px;
    width: 50px;
 color:#8E989E;line-height:28px; font-weight:normal; text-align:center; font-size:16px;cursor:pointer;border: solid 1px #000;

}
.rock1{font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;background-color: royalblue;
    height: 35px;
    width: 70px;
 color:#8E989E;line-height:28px; font-weight:normal; text-align:center; font-size:16px;cursor:pointer;border: solid 1px #000
}
.title { font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;background-color:lightgrey;height: 40px;
    width: 80px;
 color:#8E989E;line-height:28px; font-weight:normal; text-align:center; font-size:16px;cursor:pointer;border: solid 1px #000;
    border-radius: 50%;margin-left:150px; }

.a{
   position:relative;
    top: 2%;
    font-size:100px;
    font-weight: normal;
    text-decoration: none;
    color: wheat;
}
.flat-form {
  background: #34495e;  /*tablebg e74c3c #34495e  #88565b ed7271*/
  margin: 25px auto;
  width:auto;
  min-width:175px;
  height:150px;
  position: relative;
      z-index: 999;

  font-family: 'Roboto';
}
.fukre{

margin-top:4px;
margin-bottom:4px;
}
.channa{

margin-top:4px;
margin-bottom:4px;
}
#d1{
float:left;
}
.s1{
float: left;
    width: 600px;
}
.contnt{
margin: 50px auto 0 auto;
    position: relative;
    background: cornsilk;
    padding: 10px;
    width: auto;
    height: 800px;
     overflow-y: scroll;
  
}
.img{
float:left;
width:300px;
}
.members{
    float: right;
    width: 300px;
background:aliceblue;
}
#chng2{
margin-left:64%;
margin-top:2px;
}
.signupbox{
 background: cornsilk; padding: 10px; width: 490px; margin:50px auto 0 auto;min-width:175px; position:relative;
}
.cntent{
    background: white;
    width: auto;
    padding: 5px;
    position: relative;
	height:800px;
	float:right;
    border: 1px solid #FBFCFD;
	overflow:auto;
   
}
.cntent h2{font-size:30px;text-align:center;color:black;}
.cntent textarea{width: 474px;
    height: 123px;}
	.cntent p{margin: 7px 0 5px 0;}
.signupboxinner{background: floralwhite; padding: 5px; position: relative; border: 1px solid #FBFCFD; }
.signupbox h1 { font-size: 30px; letter-spacing: 1px; color: #555; font-weight: normal; padding-top: 10px; }
.signupbox p { margin: 7px 0 5px 0; }
.signupbox 
.signupbox input.mini { width:150px; }
.signupbox label{ display: block; color: #666; letter-spacing: 1px; font-size: 18px; }
.signupbox input {
padding: 12px 10px; color: black; 
font-family: Arial, Helvetica, sans-serif; margin-top: 8px; font-size: 15px;
border: 1px solid black; width: 420px;  outline: none;}
.signupbox input.mini2{width:70px;}
.tabs {
  background: #ed7271;  /*topbar #c0392b #88565b*/
  height:auto;
  float:right;
  margin-bottom:4px;
  list-style-type: none;
  width:auto;
      z-index: 999;
  position: relative;
  display: block;
}
.navs{
    float: left;
    clear: both;
    margin-top: 0px;
    margin-left: 5px;
}
.navs ul{
    float: left;
    display: block;
    font-size: 20px
}
.navs ul li {
    display: inline-block;
    color: rgb(58, 124, 157);
    text-transform: uppercase;
    font-family: 'Open Sans Condensed', 'Arial Narrow', Arial, sans-serif;}
	.navs ul li h4 button{
    line-height: 40px;
    padding: 1px 8px;
    margin-top: 10px;
    margin-bottom: 10px;
    color: rgb(178, 200, 219);
    text-shadow: rgba(255, 255, 255, 0.901961) 0px 1px 1px;
    border-radius: 2px;}
.tabs li {
     display: block;
    float: right;
    margin: 11px auto;
    padding: 2px;
}
.tabs a {
  background: white;  /*topbar c0392b  #88565b */
  display: block;
  float: left;
  width:auto;
  height:auto;
  text-decoration: none;
  color: white;
      margin-bottom: 2px;
	  margin-top: 4px;
  font-size: 16px;

  /*border-right: 1px solid @tab-border;*/

}
.tabs li:last-child a {
  border-right: none;
  width:auto;
      margin-bottom: 2px;
	  margin-top: 4px;
  padding-left: 0;
  padding-right: 0;
  text-align: center;
}
.tabs a.active {
  background: white;  /*topbar e74c3c  */
  border-right: none;
  -webkit-transition: all 0.5s linear;
	-moz-transition: all 0.5s linear;
	transition: all 0.5s linear;
}
.reset
{
     background: #ed7271;
        width: auto;
    height:auto;
	min-width:65px;
    margin-left: 40%;
    margin-right: 46%;
    position:relative;
}
.form-action {
  padding: 0 20px;
  position: relative;
}

.form-action h1 {
  font-size: 42px;
  padding-bottom: 10px;
}
.form-action p {
  font-size: 12px;
  padding-bottom: 10px;
  line-height: 25px;
}
form {
  padding-right: 20px !important;
}
form input[type=text],
form input[type=password],
form input[type=submit] {
  font-family: 'Roboto';
}

form input[type=text],
form input[type=password] {
  width: 100%;
  height: 40px;
  margin-bottom: 10px;
  padding-left: 15px;
  background: #fff; /* #44454a  */
  border: none;
  color:black;   /* e74c3c e9e9e9  */
  outline: none;
}
form input[type=radio]{background:none;color:black; }
@media screen and (max-width: 700px) {
 h2{font-size:90%;},form,div,input,button,body { font-size: 11px; }
.signupform{width:80%;margin:5px;}
.flat-form a{font-size:65px;width:auto;margin:3px;height:auto;}
.tabs{width:auto;margin:3px;height:40%;font-size:20px;}
.tabs input{width:30%;margin:3px;height:auto;font-size:70%;}
.tabs button{width:30%;margin:3px;height:auto;font-size:30%;}
.tabs a{ font-size:30%;width:30%;margin:3px;height:auto;}
loginbox { width: 90%; margin: 10px;}
.signupbox { width:auto;margin:3px;height:auto;font-size:20px;}
 .signupbox input { width: 100%; }
 .signupbox button { width:30%;margin:3px;height:auto;font-size:90%;}
 .contain textarea{width:50%;}
 .s1 textarea{width:50%;}
 .s1 button{width:30%;margin:3px;height:auto;font-size:90%;}
 .s1{width:auto;margin:3px;height:auto;font-size:20px;}
 .members h2{width:30%;font-size:70%;}
  #tabl{width:30%;font-size:60%;}
 .members{width:auto;margin:3px;height:auto;font-size:20px;}
 .s1 h2{width:30%;font-size:70%;}
 .cntent{width:auto;margin:3px;height:auto;font-size:20px;overflow-y:scroll;}
 .cntent button{ width:30%;margin:auto;height:auto;font-size:90%;}
 .contain h2{width:30%;font-size:70%;}
 .contnt{overflow-y:scroll;width:auto;height:auto;font-size:90%;}
 .contnt .img .members .s1 .cntent{font-size:70%;position:relative;}
 .img{width:50%;margin:3px;height:auto;font-size:20px;}
  .tbl-responsive {
    width: 100%;
    margin-bottom: 15px;
    overflow-y: hidden;
    -ms-overflow-style: -ms-autohiding-scrollbar;
    border: 1px solid #ddd;	
	}
  }
 

.dark-box {
  background: #5e0400;
  box-shadow: 1px 3px 3px #3d0100 inset;
  height: 40px;
  width: 50px;
}
.form-action .dark-box.bottom {
  position: absolute;
  right: 0;
  bottom: -24px;
}
.tabs + .dark-box.top {
  position: absolute;
  right: 0;
  top: 0px;
}
.show {
  display: block;
}
.hide {
  display: none;
}
.foot{
position: relative;
    width: 100%;
    bottom: 0px;
    min-height: 160px;
    background: dimgrey;
    box-shadow: rgb(37, 95, 126) 0px 1px 4px inset;
    border-top: 4px solid rgb(205, 219, 229);
}
.foot .sitelinks{
padding: 45px 20px 10px;
    margin: 0px auto;
    max-width: 1035px;
    overflow: hidden;
}
.foot nav{
padding: 45px 20px 10px;
    margin: 0px auto;
    max-width: 1035px;
    overflow: hidden;
}
.foot nav ul li{    display: inline-block;
    line-height: 10px;
    font-size: 35px;
	word-spacing:4px;}
	.foot nav ul li a{    color: rgb(238, 243, 246);
    text-shadow: rgb(98, 156, 186) 1px 1px 1px;
    text-decoration: none;}
.button {
    border: none;
    display: block;
    background: #136899;
    height: 40px;
    width: 80px;
    color: black;
    cursor: pointer;
    margin-top: 4px;
	font-size:14px;
	padding-left: 0;
  padding-right: 0;
    margin-bottom: 2px;
    margin-left: 250px;
    text-align: center;
    border-radius: 5px;
	    z-index: 999;

}
.table > thead > tr > th, .table > tbody > tr > th, .table > tfoot > tr > th, .table > thead > tr > td, .table > tbody > tr > td, .table > tfoot > tr > td {
    padding: 8px;
    line-height: 1.42857143;
    vertical-align: top;
    border-top: 1px solid #ddd;
	color: black;
}
table {
    border-spacing: 0;
    border-collapse: collapse;
}
.table {
    width: 100%;
    max-width: 100%;
    margin-bottom: 20px;
}
table {
    background-color: transparent;
}

#tabl{color:blue;font-size:150%;}
.button:hover {
  background: #1e75aa;
  /*box-shadow: 0 3px 1px #237bb2;*/
}

.button:active {
  background: #136899;
  /*box-shadow: 0 3px 1px #0f608c;*/
}

::-webkit-input-placeholder {
  color:dark ;    /*  #e74c3c */
}
:-moz-placeholder {
  /* Firefox 18- */
  color:darkblue;
}
::-moz-placeholder {
  /* Firefox 19+ */
  color: darkblue;
}
:-ms-input-placeholder {
  color: darkblue;
}