.radius { -moz-border-radius: 5px; -webkit-border-radius: 5px; border-radius: 5px; }
.radius1 { -moz-border-radius: 3px; -webkit-border-radius: 3px; border-radius: 3px; }
h2 { font-size: 20px; line-height:12px; font-weight:normal; }
.login{
background: url(17201.jpg);
background-size:100% 100%;
padding:0;
margin:0;
width:auto;
height:auto;
}
.loginbox{
 background: #FBFCFD; padding: 10px; width: 490px; margin:50px auto 0 auto; position:relative; float:right;
}
.loginboxinner {
background: #FBFCFD; padding: 5px; position: relative; border: 1px solid #FBFCFD; 
-moz-box-shadow: inset 0 1px 0 #FBFCFD; -webkit-box-shadow: inset 0 1px 0 #FBFCFD; box-shadow: inset 0 1px 0 #FBFCFD; 
}
.loginheader
{height:20px;
}
.loginbox h1 { font-size: 30px; letter-spacing: 1px; color: #555; font-weight: normal; padding-top: 10px; }
.loginbox p { margin: 7px 0 5px 0; }
.loginbox label { display: block; color: #666; letter-spacing: 1px; font-size: 18px; }
.loginbox input.mini { width:150px; }
.loginbox select.mini1 { width:100px; height:30px} 
.loginbox input.mini2{width:70px;}
.loginbox input {
padding: 12px 10px; color: black;
font-family: Arial, Helvetica, sans-serif; margin-top: 8px; font-size: 15px;
border: 1px solid black; width: 420px;  outline: none;}
.loginbox button {
 background: #5870A8; background-image:-webkit-linear-gradient(top, #637BAD,#4F67A4);
 padding: 10px 20px; font-size: 18px; border: 1px solid #1D3871;
 letter-spacing:1px;color: #fff; width: 440px; line-height:30px;
 font-family:'helvetica neue',Helvetica, Arial, sans-serif;
  -moz-box-shadow: 1px 1px 3px #1D3871; -webkit-box-shadow: 1px 1px 3px #1D3871;
  box-shadow: 1px 1px 3px #1D3871; cursor: pointer;
}
.title { font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
 color:#8E989E;line-height:28px; font-weight:normal; text-align:center; font-size:16px; }
.loginform { margin: 4px auto; text-align:center; }
@media screen and (max-width: 430px) {
body { font-size: 11px; } h2,.loginform{width:80%;margin:5px;}
 button,tr,td,form,div,a,table,span,label, input, select, textarea { font-size: 11px; }
.fbbutton{width:70%;margin:2px;}
.loginheader{width:90%;height:15%}
.inputbox input{width:90%;height:14%;margin:3px;}
.fbbutton input{width:90%;}
 .loginbox { width: 90%; margin: 10px;}
 .loginbox input { width: 95%; }
 .loginbox button { width: 100%; }
 .login{width:90%;}
 .logea input{}
 }
#facebook{
background-color:blue;
border-bottom:1px solid #0053A6;
box-shadow: 0 0 2px rgba(0, 0, 0, 0.52);
width:100%;float:left;
z-index:auto;
}

#name{
float:left;
height:70px;
position:relative;
width:160px;
} 
#name a{
position:absolute;
top:15px;
font-size:35px;font-weight:bold;color:white;
text-decoration:none;
font-family:"Lucida Sans Unicode", "Lucida Grande", sans-serif;
}
#headright{
float:right;
height:70px;
position:relative;

}
#headnavright{
padding: 4px 6px 4px 4px;
right: 0;
}
#loginform .inputtext{
background-color: #FFFFFF;
height:25px;
font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
font-size:13px;margin:0;padding:5px 8px 5px 8px;width:166px;border:1px solid #3A518A;
}
#loginform .inputtext:hover{
border-color: #A0A0A0 #B9B9B9 #B9B9B9;
border-image: none;
border-style: solid;
border-width: 1px;
 box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1) inset;
}
#login_form table tr td {padding: 0 0 0 5px;}
#login_form table tr td label { color: #fff;cursor: pointer;font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
font-size: 12px;font-weight: normal;padding-left: 1px;text-align: left;vertical-align: middle;}
.fbbutton { border:1px solid #1D3871; width:94px;
 background-image:-webkit-linear-gradient(top, #637BAD, #4F67A4);
 font-size:14px; line-height:25px; font-weight:normal; color:black; }
.logea{float:right;}