<table class="table table-bordered table-responsive">
    <thead>
        <tr>
            <th>ID</th>
            <th>Name</th>
            <th>Phone Number</th>
            <th>Email</th>
            <th>Status</th>
            <th>Available</th>
        </tr>
    </thead>
    <tbody ng-controller="get_driver">
        <tr ng-repeat="people in drivers">
            <td>{{people.fleet_id}}</td>
            <td>{{people.username}}</td>
            <td>{{people.phone}}</td>
            <td>{{people.email}}</td>
            <td>{{people.status}}</td>
            <td>{{people.is_available}}</td>
        </tr>
    </tbody>
</table>